<app-menu></app-menu>
<div class="container" *ngIf="incidencia">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                
                <div class="form-group">
                    <label for="dateInicio">Fecha Inicio</label>
                    <input type="date" class="form-control" id="dateInicio" name="dateInicio"
                    [(ngModel)]="incidencia.dateInicio" required>
                </div>   

                <div class="form-group">
                    <label for="dateFin">Fecha Fin</label>
                    <input type="date" class="form-control" id="dateFin" name="dateFin"
                    [(ngModel)]="incidencia.dateFin">
                </div>   
                <select class="form-select" aria-label="Default select example" 
                    input type="Estado" class="form-control" id="estado" name="estado"
                    [(ngModel)]="incidencia.estado" required>
                    <option value="Pendiente">Pendiente </option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Finalizada">Finalizada</option>
                  </select>


                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-pencil-alt"></i> Actualizar</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/misIncidencia">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>
