<app-menu></app-menu>
<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">nombre</th>
        <th scope="col">nombreUsuario</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nuevoUsuario of nuevoUsuario">
        <td>{{nuevoUsuario.nombre}}</td>
        <td>{{nuevoUsuario.nombreUsuario}}</td>
        <td>{{nuevoUsuario.email}}</td>
        <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(nuevoUsuario.nombreUsuario)"><i class="far fa-trash-alt"></i> Eliminar</button></td>

      </tr>
    </tbody>
  </table>
</div>